<label>Server Name</label>

<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<p>{{updatedServerName}}</p>

<!-- Combines event binding and property binding  -->
<input type="text" class="form-control" [(ngModel)]="twoWayBindingExampleString">
<p>{{twoWayBindingExampleString}}</p>

<button class="btn btn-primary" [disabled]="!this.allowNewServer" (click)="onCreateServer()">Add Server</button>

<!-- String interpolation and property binding in this case produce the same result -->
<p>{{this.allowNewServer}}</p>
<p [innerText]="allowNewServer"></p>
<!-- <p>{{serverCreationStatus}}</p> -->

<label>Create Server</label>
<input type="text" class="form-control" [(ngModel)]="serverName">
<p *ngIf="serverCreated">Server created, the server name is {{serverName}}</p>
<button class="btn btn-primary" (click)="onCreate($event)">Create Server</button>
<button class="btn btn-default" (click)="onReset($event)">Reset</button>

<hr>
<h4>If-else example</h4>

<p *ngIf="showFirstParagraph; else secondPara">First Paragraph</p>
<ng-template  #secondPara>
    <p>Second paragragraph</p>
</ng-template>

<button class="btn btn-primary" (click)="showFirstParagraph = !showFirstParagraph">Toggle Paragraph</button>


<hr>

<app-server></app-server>
<app-server></app-server>