<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>I'm in the AppComponent</h2>
            <hr>
            <app-servers></app-servers>
        </div>
    </div>
    <div class="row">
        <app-success-alert></app-success-alert>
    </div>

    <div class="row">
        <app-warning-alert></app-warning-alert>
    </div>

    <div class="row">
        <app-binding-exercises></app-binding-exercises>
    </div>

    <div class="row">
        <app-directives-exercises></app-directives-exercises>
    </div>
</div>